**/.ipynb_checkpoints
**/*.ipynb
*.tex
*.md
!Readme.md
*.pdf
**/*.txt
**/*.ppt
**/*.pptx
assets/img/later/*
team.html
portfolio-details.html
projects-template.html
index-2.html
portfolio.html
services.html
runtime.txt
letsencrypt
pydsvenv/
.env
**/*.py
