**/.ipynb_checkpoints
**/*.ipynb
public/*.csv
public/*.xlsx
public/*.bak
public/*.tex
public/*.md
!public/Readme.md
public/*.pdf
**/*.txt
**/*.ppt
**/*.pptx
public/assets/img/later/*
public/team.html
public/portfolio-details.html
public/projects-template.html
public/index-2.html
public/portfolio.html
public/services.html
public/runtime.txt
public/letsencrypt
public/scripts
public/pydsvenv/
public/.env
public/**/*.py
.firebaserc
.firebase.json
.DS_Store