**/.ipynb_checkpoints
**/*.ipynb
*.tex
*.md
*.pdf
**/*.ppt
**/*.pptx
assets/img/later/*
team.html
portfolio-details.html
projects-template.html
index-2.html
portfolio.html
services.html
letsencrypt
pydsvenv/
.env
**/*.py
